.Main-Container { 
  display: flex; 
  flex-direction: column;
  background-color: white;
  margin: 50px;
  padding: 15px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.25);
  height: max-content;
}

.Toggle-Row { 
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
}

.Center-Panel-Container { 
  display: flex; 
  flex: 1;
  flex-direction: column;
  justify-content: center;
  margin: 30px; 
  padding: 30px;
  text-align: center;
}

.Condition-Frame { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Temperature-Frame { 
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Details-Panel-Container { 
  display: flex;
  flex-direction: row;
  margin: 30;
  justify-content: center;
}

.Details-Panel-Column { 
  display: flex;
  flex-direction: column;
  margin: 20;
}

.Details-Text {
  font-size: 20px;
  margin: 10px;
}

.Location-Row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px;
}